@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Oswald:300");


body {
background-color: #e1e4e6;
font-family:"Oswald", sans-serif;
margin: 0px;
padding: 0px;
}

.container {
width: 800px;
margin: 0 auto;
background-color: #E1E4E2;
padding: 26px;   
}

.header {
background-color: #E1E4E2;
padding: 10px;
text-align: center;
font-size: 30px ;    
}

.main {
padding: 10px;   
}

.forum-list {
list-style: none;
margin: 0;
padding: 0;  
font-size: 30px;  
}

.forum-list li {
margin: 10px;
padding: 10px;
background-color: #E1E4E2;
list-style-type:disc;
}

.forum-list li a {
text-decoration:none;
color: #000;    
}

.forum-list li a:hover {
background-color: #E1E4E2;
padding: 10px;
text-align: center;    
}

p {
text-align: center; 
font-size: 34px ;   
}

.footer {
width: 800px;
margin-top: 30px;
background-color: #E1E4E2;
padding: 0px;  
text-align: center; 
font-size: 30px;   
}

